<!--基礎代謝を求める（男、女）-->
<% basal_metabolism = 0 %>
<% case params[:page][:gender] %>
<% when "male" %>
  <% basal_metabolism = (10 * params[:weight].to_i + 6.25 * params[:height].to_i - 5 * params[:old].to_i + 5).round(0) %>
<% when "female" %>
  <% basal_metabolism = (10 * params[:weight].to_i + 6.25 * params[:height].to_i - 5 * params[:old].to_i - 161).round(0) %>
<% end %>
<p>基礎代謝</p>
<%= basal_metabolism %> kcal

<!--活動量（少ない、普通、多い）-->
<% active_volume = 0 %>
<% case params[:page][:activity] %>
<% when "low" %>
  <% active_volume = 1.2 %>
<% when "mid" %>
  <% active_volume = 1.55 %>
<% when "high" %>
  <% active_volume = 1.725 %>
<% end %>

<!--目標体重（減量、維持、増量）-->
<% purpose = 0 %>
<% case params[:page][:purpose] %>
<% when "loss" %>
  <% purpose = 0.8 %>
<% when "maintenance" %>
  <% purpose = 1 %>
<% when "increase" %>
  <% purpose = 1.2 %>
<% end %>

<p>総摂取カロリー</p>
<% total_calorie = (basal_metabolism * active_volume * purpose).round(0) %>
<%= total_calorie %> kcal

<p>たんぱく質</p>
<% protein = (params[:weight].to_i * 2 * 4).round(0) %>
<%= protein / 4 %> g

<p>脂質</p>
<% liqid = (total_calorie / 4).round(0) %>
<%= liqid / 9 %> g

<p>炭水化物</p>
<% carbohydrate = (total_calorie - protein - liqid).round(0) %>
<%= carbohydrate / 4 %>
<!--<%= @msg %>-->