<% basal_metabolism = 0 %>
<% case params[:gender]%>
<% when "男" %>
  <% basal_metabolism = (10 * params[:weight].to_i + 6.25 * params[:height].to_i - 5 * params[:old].to_i + 5).round(0) %>
<% when "女" %>
  <% basal_metabolism = (10 * params[:weight].to_i + 6.25 * params[:height].to_i - 5 * params[:old].to_i - 161).round(0) %>
<% end %>
<p>基礎代謝</p>
<%= basal_metabolism %> kcal

<% active_volume = 0 %>
<% case params[:activity] %>
<% when "低い" %>
  <% active_volume = 1.2 %>
<% when "まあまあ" %>
  <% active_volume = 1.55 %>
<% when "かなり高い" %>
  <% active_volume = 1.725 %>
<% end %>

<% purpose = 0 %>
<% case params[:purpose] %>
<% when "減量" %>
  <% purpose = 0.8 %>
<% when "維持" %>
  <% purpose = 1 %>
<% when "増量" %>
  <% purpose = 1.2 %>
<% end %>

<p>総摂取カロリー</p>
<% total_calorie = (basal_metabolism * active_volume * purpose).round(0) %>
<%= total_calorie %> kcal

<p>たんぱく質</p>
<% protein = (params[:weight].to_i * 2 * 4).round(0) %>
<%= protein / 4 %> g


<p>脂質</p>
<% liqid = (total_calorie / 4).round(0) %>
<%= liqid / 9 %> g

<p>炭水化物</p>
<% carbohydrate = (total_calorie - protein - liqid).round(0) %>
<%= carbohydrate / 4 %> 